.header-form{
    height: 35vh;
    background-color: #72d3f7;
    padding-top: 2vh;
}
.lineForm{
    border-top: 3px dashed #515fce;
    margin-top: 1vh;
}
.p3{
    color: #515fce;
    margin-left: 1vw;
}
.create-game-monster{
    position: fixed;
    margin-left: 0;
    bottom:0%;
}
.create-game-abby{
    position: fixed;
    right: -5%;
    bottom:0%;
    z-index: -1;
}
.create-game-form-cont{
    width: 40vw;
    height: 72vh;
    background-color: #ff5555;
    margin-left: 31%;
    border-radius: 5%;
    transform: rotate(3deg);
    margin-top: -16vh;
    z-index: 5;
}
.create-game-form{
    width: 38vw;
    height: 66vh;
    padding: 4vw;
    margin-top: -5vh;
    margin-left: 1vw;
    background-color: #fafafe;
    border-radius: 5%;
    transform: rotate(-3.2deg);
}
.inputs-create-game{
    margin-top: -3vh;
}
.form-arrow{
    margin-left: 15vw;
    margin-top: 4vh;
}
.line-form{
    margin-left: .15vw;
    z-index: 2;
}
.logout{
    z-index: 5;
    margin-left: -20vw; 
    margin-top: 42vh;
    position: fixed;
    z-index: 5;
}
::file-selector-button {
  display: none;
}
/* .cover-dropdown{
    height: 80px;
    width: 80px;
    overflow: scroll;
} */
.publish{
    margin-right: 4vw;
    margin-top: 2vh;
    background-color: #515fce;
    border-radius: 30px;
    width: 100px;
    height: 3.5vh;
    color: #fafafe;
}