
 .cont{
    display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     margin:4vw;
 }
 .game-card{
     z-index: -1;
     width:20vw;
     height: 33vh; 
 }
 .game-card-hov:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

 .game-title{
     width: 50%;
     color: #fafafe;
     font-size:large;
     margin-left: 4.5vw;
     margin-top: 15vh;
     text-align: center;
     z-index: 3;
 }
 
 